{% block html_head_container %}
    {% include 'twig/html-header.twig' %}
{% endblock %}

    <body>
        <div id="wrapper">
            {% include 'twig/menutop.twig' %}

            <div id="content">
                {% block content %}{% endblock %}
            </div>

            {% block sidebar %}
            <div id="sidebar">
                {{function('get_sidebar')}}
            </div>
            {% endblock %}
        {{function('get_footer')}}
