{# menutop #}
<div id="capcalera">
    <div class="sidebar_home">
        <div class="logo_cap">
            <a href="/"><img src="/wp-content/themes/wp-softvalencia/images/logo_sv.png" alt="Softvalencià" title="Softvalencià" /></a>
        </div>
    </div>

    <div class="menutop">
        <div class="menutop1">
            <div class="menutop1_links">
                <a href="/preguntes-mes-frequents/">Preguntes més freqüents</a>  |
                <a href="/contacte/">Contacte</a> |
                <a href="/collaboreu/">Col·laboreu amb nosaltres</a>
            </div>
        </div>
        <div class="menutop2">
            <ul>
                <li><a href="/">Inici</a></li>
                <li><a href="/traductor/">Traductor</a></li>
                <li><a href="/corrector/">Corrector</a></li>
                <li><a href="http://www.softcatala.org/forum" target="_blank">Fòrums d'ajuda</a></li>
            </ul>
        </div>
    </div>
</div>